@import '//at.alicdn.com/t/c/font_3670169_q3uksvznqw.css'

/* 
//默认的搜索框样式重置
body .search-box
  input
    background-color transparent
    color var(--textColor)
    border 1px solid var(--borderColor, #ccc)
    @media (max-width: $MQNarrow)
       border-color transparent
*/
       
//引入字体
@font-face{
  font-family: mao;
  src: url("//fonts.googleapis.com/css?family=Baloo+Bhaijaan|Inconsolata|Josefin+Sans|Montserrat");
}

// 搜索结果样式
.suggestions {
  max-height: 80vh; // 搜索结果框高度自适应
  overflow-y: scroll;
}
.suggestions .highlight{
  color: rgba(0, 187, 255, 0.79)
  font-weight: bold
}