// 颜色 布局
$accentColor = #11A8CD              //主题链接的颜色
$textColor = #2c3e50                //文本的颜色
$borderColor = #eaecef              //边框线的颜色
$codeBgColor = #282c34              //代码块的背景色
$arrowBgColor = #ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961
$navbarHeight = 3.6rem              // 导航栏的高度
$sidebarWidth = 15rem               // 侧边栏的宽度
$contentWidth = 740px
$homePageWidth = 960px
$contentWidth = 75%                 // 文章内容的宽度

// 响应式变化点
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

$lineNumbersWrapperWidth = 2.5rem   // 代码块

// 代码块的行数字颜色
div[class*="language-"]
  &.line-numbers-mode
    .line-numbers-wrapper
      color #9e9e9e

// 顶部进度条插件
 $readingBgColor = transparent
 $readingZIndex = 1000
 $readingSize = 3px
 $readingProgressColor = #b160ea
 $readingProgressImage = none

// 侧边栏当前标题
a.sidebar-link.active     
    color #fa4694
    border-left-color #fa4694

/*代码块注释*/
.token.comment, .token.block-comment, .token.prolog, .token.doctype, .token.cdata {
    color: #5f836d;
    font-weight: bolder;
}

// 加粗字体颜色
strong
  color #35CFFD

html {
    height: 100%;   // 让网页填充全屏
}

  // `` 包裹的背景色
  .theme-vdoing-content
    code
      background-color transparent
  // 引用的颜色
  blockquote
    background-color rgba(25, 25, 49, 0.53)
    border-left .25rem solid #904ac2
    padding 10px 16px
